.c{ font-size: 35px;
    position: relative;
    right: 45px;
    bottom:20px;
}
.as {
    color: white;
    text-decoration: none;
}
a.btn-primary{
    color: #FFF!important;
}
a:hover {
    color: black;
}


.hline { 
    width:100%;
    height:1px;
    background: black; 
}


.da{ 
    background-color:darkred;
}

div.col-md-4.transperency{
    color: #FFF!important;
    opacity: 0.6;
    top: 20px;
}

div.card-login.transperency{
    opacity: 0.75;
    color: #FFF!important;
}
